# DATABASE

PG_HOST="your_database_user"
PG_PORT="your_database_password"
POSTGRES_USER="your_database_host"
POSTGRES_PASSWORD="your_database_port"
POSTGRES_DB="your_database_name"

# JWT

JWT_SECRET="your_jwt_secret"
JWT_ALGORITHM="HS256"
JWT_EXPIRATION_MINUTES=120